
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #007bff, #003f88);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
